@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body {
	font: 200 32px Hanna, Helvetica, sans-serif;
}
button{
	  padding: 10px 30px 10px 30px;
    background: darkorange;
    border: none;
    color: #FFF;
    box-shadow: 5px 5px 5px maroon;
    -webkit-box-shadow: 5px 5px 5px maroon;
    -moz-box-shadow: 5px 5px 5px maroon;
    text-shadow: 2px 2px 2px maroon;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    font: 36px Hanna, Helvetica, sans-serif;
    margin: 10px;
}

#puzzleTop{
 height : 220px;
 width : 220px;
 border-radius: 15px;
 background-color: maroon;
 padding:3px;
}

#puzzleBot{
 position:relative;
}

.tile{
  border-radius: 15px;
  background-color: darkorange;
  float:left;
  margin: 5px;
  height: 100px;
  width: 100px;
 

}

#resultTrue{
	position:absolute;
	top:20px;
  left:225px;
	display:none;
}